<h2>Primary Button</h2>

<button class="cs-btn cs-btn-primary">Primary</button>

<h2>Link Button</h2>

<button class="cs-btn cs-btn-link">Link</button>

<h2>Button with icons</h2>

<button class="cs-btn">
        <i class="fa fa-heart cs-fa-red" aria-hidden="true"></i>
        Like button
    </button>


<h2>Floating Action Button</h2>
<p>
    A floating action button performs the primary, or most common, actions on the screen.They are usually in circular shape with an icon at center.They are of three types regular, mini and extended.
</p>
<div class="outline floating-button flex-row">
    <button class="cs-btn">
            <i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i>
        </button>
</div>