<div class="avatar-container">
    <div class="avatar avatar--lg">
        <figure class="avatar__figure" role="img">
            <img class="avatar__placeholder" src="../../images/img-placeholder.png">
            <img class="avatar__img" src="../../images/download.jpeg">
        </figure>
    </div>

    <div class="avatar avatar--md">
        <figure class="avatar__figure" role="img">
            <img class="avatar__placeholder" src="../../images/img-placeholder.png">
            <img class="avatar__img" src="../../images/download.jpeg">
        </figure>
    </div>


    <div class="avatar avatar--sm">
        <figure class="avatar__figure" role="img">
            <img class="avatar__placeholder" src="../../images/img-placeholder.png">
            <img class="avatar__img" src="../../images/download.jpeg">
        </figure>
    </div>

</div>