<div class="form__container">
    <form>
        <div>
            <label for="email">Email <span class="color-red">*</span> </label><br>
            <input id="email" class="custom__input" type="email" placeholder="enter email" required/>
        </div>

        <div>
            <label for="password">Password <span class="color-red">*</span> </label><br>
            <input id="password" class="custom__input" type="password" placeholder="enter password" required />
        </div>

    </form>
</div>

<div class="form__container">
    <form>
        <div class="custom__input-container">
            <input placeholder=" " type="text" class="custom__input custom__input-success" />
            <span class="floating-label success">Enter email success </span>
        </div>

        <div class="custom__input-container">
            <input placeholder=" " type="text" class="custom__input custom__input-error" />
            <span class="floating-label success">Enter password warning</span>
        </div>

    </form>
</div>