<div class="toast__container">
    <h2>Toast Component</h2>

    <div class="toast">
        <div class="toast__header">
            <div>Add to card toast</div>
            <div class="toast__close"><i class="fa fa-times" aria-hidden="true"></i></div>
        </div>
        <div class="toast__body">
            Product is added to cart !!
        </div>
    </div>

    <hr>

    <h2>Stacking Toast within container</h2>
    <div class="toast__stack__container">
        <div class="stacking_toast_container">
            <div class="toast">
                <div class="toast__header">
                    <div>Add to card toast</div>
                    <div><i class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="toast__body">
                    Product is added to cart !!
                </div>
            </div>
            <div class="toast">
                <div class="toast__header">
                    <div>Add to card toast</div>
                    <div><i class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="toast__body">
                    Product is added to cart !!
                </div>
            </div>
            <div class="toast">
                <div class="toast__header">
                    <div>Add to card toast</div>
                    <div><i class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="toast__body">
                    Product is added to cart !!
                </div>
            </div>
        </div>
    </div>
</div>