<div class="cards">
    <h2 class="cards__section">Product card horizentol description</h2>
    <div class="card__container card__container_horizentol">
        <div class="card__imagecontainer card__imagecontainer_horizontal"><img src="../../images/tshirt.webp"></div>
        <div class="card__content card__content_horizentol">
            <div class="card__description">
                <h3 class="card__description-brand">Mufti</h3>
                <h4 class="card__description-title">Boys T-shirt</h4>
                <div class="card__description-content">
                    Keep this hip this season with the HRX Men's Athleisure T-shirt. This versatile T-shirt can be styled any way you like for the ultimate gym-to-street look.</div>

            </div>
            <div class="card-button">
                <button class="cs-btn cs-btn-primary cs-btn-add_to_card">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i> ADD TO CARD</button>
                <button class="cs-btn cs-btn-light">
                        <i class="fa fa-heart-o" aria-hidden="true"></i> WISHLLIST</button>
            </div>
        </div>
    </div>

    <h2 class="cards__section">Product card vertical description with badge & close icon</h2>
    <div class="card__container card__container_vertical">
        <div class="card__close"><i class="fa fa-times-circle-o" aria-hidden="true"></i></div>
        <div class="card__imagecontainer card__imagecontainer_vertical">
            <img src="../../images/tshirt.webp">
            <span class="badge badge-trending">Trending</span>
        </div>
        <div class="card__content card__content_vertical">
            <div class="card__description">
                <h3 class="card__description-brand">Mufti</h3>
                <h4 class="card__description-title">Boys T-shirt</h4>
                <div class="card__description-content">
                    Keep this hip this season with the HRX Men's Athleisure T-shirt. This versatile T-shirt can be styled any way you like for the ultimate gym-to-street look.</div>

            </div>
            <div class="card-button">
                <button class="cs-btn cs-btn-primary cs-btn-add_to_card">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i> ADD TO CARD</button>
                <button class="cs-btn cs-btn-light">
                        <i class="fa fa-heart-o" aria-hidden="true"></i> WISHLLIST</button>
            </div>
        </div>
    </div>

    <!-- product card with text overlay -->
    <h2 class="cards__section">Product card with text overlay </h2>

    <div class="card__container card__container_vertical">
        <div class="card__overlay">
            <h1>OUT OF STOCK</h1>
        </div>
        <div class="card__imagecontainer card__imagecontainer_vertical"><img src="../../images/tshirt.webp"></div>
        <div class="card__content card__content_vertical">
            <div class="card__description">
                <h3 class="card__description-brand">Mufti</h3>
                <h4 class="card__description-title">Boys T-shirt</h4>
                <div class="card__description-content">
                    Keep this hip this season with the HRX Men's Athleisure T-shirt. This versatile T-shirt can be styled any way you like for the ultimate gym-to-street look.</div>

            </div>
            <div class="card-button">
                <button class="cs-btn cs-btn-primary cs-btn-add_to_card">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i> ADD TO CARD</button>
                <button class="cs-btn cs-btn-light">
                        <i class="fa fa-heart-o" aria-hidden="true"></i> WISHLLIST</button>
            </div>
        </div>
    </div>

    <!-- Text only cards -->
    <h2 class="cards__section">Product card Text only </h2>

    <div class="card__container card__container_vertical">
        <div class="card__content card__content_vertical">
            <div class="card__description">
                <h3 class="card__description-brand">Mufti</h3>
                <h4 class="card__description-title">Boys T-shirt</h4>
                <div class="card__description-content">
                    Keep this hip this season with the HRX Men's Athleisure T-shirt. This versatile T-shirt can be styled any way you like for the ultimate gym-to-street look.</div>
            </div>
            <div class="card-button">
                <button class="cs-btn cs-btn-primary cs-btn-add_to_card">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i> ADD TO CARD</button>
                <button class="cs-btn cs-btn-light">
                        <i class="fa fa-heart-o" aria-hidden="true"></i> WISHLLIST</button>
            </div>
        </div>
    </div>

</div>