<h1>Lists</h1>
<p>
    Lists are used to specify lists of information. These are Ordered (ol) and Unordered List (ul)
</p>
<h2>Example of Unordered List</h2>
<div class="content__border">
    <div class="list__container">
        <div class="list__body">
            <ul>
                <li class="list-item">Item1</li>
                <li class="list-item">Item2</li>
                <li class="list-item">Item3</li>
            </ul>
        </div>

        <div class="list__body">
            <ul class="squared">
                <li class="list-item">Item1</li>
                <li class="list-item">Item2</li>
                <li class="list-item">Item3</li>
            </ul>
        </div>

        <div class="list__body">
            <ul class="rounded">
                <li class="list-item">Item1</li>
                <li class="list-item">Item2</li>
                <li class="list-item">Item3</li>
            </ul>
        </div>

        <div class="list-container">
            <ul class="style-none">
                <li class="list-item">Item1</li>
                <li class="list-item">Item2</li>
                <li class="list-item">Item3</li>
            </ul>
        </div>
    </div>
</div>
<h2>Example of Ordered List</h2>
<div class="content__border">
    <div class="list__container-ordered">
        <div class="list__container">
            <div class="list__body">
                <ol>
                    <li class="list-item">Item1</li>
                    <li class="list-item">Item2</li>
                    <li class="list-item">Item3</li>
                </ol>
            </div>

            <div class="list__body">
                <ol class="alphabets-list">
                    <li class="list-item">Item1</li>
                    <li class="list-item">Item2</li>
                    <li class="list-item">Item3</li>
                </ol>
            </div>

            <div class="list__body">
                <ol reversed class="alphabets-list">
                    <li class="list-item">Item1</li>
                    <li class="list-item">Item2</li>
                    <li class="list-item">Item3</li>
                </ol>
            </div>

            <div class="list__body">
                <ol class="upper-alphabets-list">
                    <li class="list-item">Item1</li>
                    <li class="list-item">Item2</li>
                    <li class="list-item">Item3</li>
                </ol>
            </div>

            <div class="list__body">
                <ol class="roman-list">
                    <li class="list-item">Item1</li>
                    <li class="list-item">Item2</li>
                    <li class="list-item">Item3</li>
                </ol>
            </div>

            <div class="list__body">
                <ol class="upper-roman">
                    <li class="list-item">Item1</li>
                    <li class="list-item">Item2</li>
                    <li class="list-item">Item3</li>
                </ol>
            </div>
        </div>
    </div>
</div>