<h2 class="content-title"> Example of image Badge </h2>

<div class="avatar-container content-border">
    <div class="avatar avatar--lg">
        <img class="avatar__img" src="../../images/download.jpeg">
        <span class="circle lg-circle"></span>
    </div>

    <div class="avatar avatar--md">
        <img class="avatar__img" src="../../images/download.jpeg">
        <span class="circle md-circle"></span>
    </div>


    <div class="avatar avatar--sm">
        <img class="avatar__img" src="../../images/download.jpeg">
        <span class="circle sm-circle"></span>
    </div>
</div>


<h2 class="content-title"> Example of Text Badge </h2>



<div class="content-border">
    <div>
        <h1 class="badge-lg">
            This is a text badge
            <span class="badge badge-pink badge-square">Badge</span>
        </h1>

        <h3 class="badge-md">
            This is a text badge
            <span class="badge badge-pink badge-rounded">Badge </span>
        </h3>
        <h5 class="badge-sm">
            This is a text badge
            <span class="badge badge-pink badge-rounded">Badge </span>
        </h5>
    </div>
</div>