<div class="modal__container">
    <div class="modal modal-center">
        <div class="modal__header">
            <div class="modal__title">Modal Title (in center )</div>
            <div class="modal__close"><i class="fa fa-times" aria-hidden="true"></i></div>
        </div>
        <div class="modal__content">
            <div class="modal__body">
                Are you sure you want to delete this message?
            </div>
            <div class="modal__footer">
                <button class="cs-btn cs-btn-primary">cancel</button>
                <button class="cs-btn cs-btn-primary">delete</button>
            </div>
        </div>
    </div>



    <div class="modal modal-top-right">
        <div class="modal__header">
            <div class="modal__title">Modal Title (in top-right)</div>
            <div class="modal__close"><i class="fa fa-times" aria-hidden="true"></i></div>
        </div>
        <div class="modal__content">
            <div class="modal__body">
                Are you sure you want to delete this message?
            </div>
            <div class="modal__footer">
                <button class="cs-btn cs-btn-primary">cancel</button>
                <button class="cs-btn cs-btn-primary">delete</button>
            </div>
        </div>
    </div>


    <div class="modal modal-top-left">
        <div class="modal__header">
            <div class="modal__title">Modal Title (in top-left)</div>
            <div class="modal__close"><i class="fa fa-times" aria-hidden="true"></i></div>
        </div>
        <div class="modal__content">
            <div class="modal__body">
                Are you sure you want to delete this message?
            </div>
            <div class="modal__footer">
                <button class="cs-btn cs-btn-primary">cancel</button>
                <button class="cs-btn cs-btn-primary">delete</button>
            </div>
        </div>
    </div>



</div>